<footer class="page-footer transparent" style="padding: 1rem;">
   <div class="footer-copyright center-align" style="align-items: flex-start;justify-content: center; padding: 0;">
      © 2017 71emj | image source from VectorStock
   </div>
</footer>