<nav class="transparent  hoverable">
   <div class="nav-wrapper">
      <a href="/" class="brand-logo">Eat Da Burger</a>
      <ul id="nav-mobile" class="hide-on-med-and-down">
        <li><a href="/api/eat-da-burger">API</a></li>
        <li><a href="https://github.com/71emj/Eat-Da-Burger">See Project on Github</a></li>
      </ul>
   </div>
</nav>